/*  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  */
/* ( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o ) */
/*  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  */
/*  /\_/\          ..                          ..       ..                      ..       ..                    .x+=:.      /\_/\  */
/* ( o.o )   . uW8"          .n~~%x.     x .d88"  x .d88"                 x .d88"  x .d88"      .n~~%x.       z`    ^%    ( o.o ) */
/*  > ^ <    `t888         x88X   888.    5888R    5888R      x.    .      5888R    5888R     x88X   888.        .   <k    > ^ <  */
/*  /\_/\     8888   .    X888X   8888L   '888R    '888R    .@88k  z88u    '888R    '888R    X888X   8888L     .@8Ned8"    /\_/\  */
/* ( o.o )    9888.z88N  X8888X   88888    888R     888R   ~"8888 ^8888     888R     888R   X8888X   88888   .@^%8888"    ( o.o ) */
/*  > ^ <     9888  888E 88888X   88888X   888R     888R     8888  888R     888R     888R   88888X   88888X x88:  `)8b.    > ^ <  */
/*  /\_/\     9888  888E 88888X   88888X   888R     888R     8888  888R     888R     888R   88888X   88888X 8888N=*8888    /\_/\  */
/* ( o.o )    9888  888E 88888X   88888f   888R     888R     8888  888R     888R     888R   88888X   88888f  %8"    R88   ( o.o ) */
/*  > ^ <     9888  888E 48888X   88888    888R     888R     8888 ,888B .   888R     888R   48888X   88888    @8Wou 9%     > ^ <  */
/*  /\_/\    .8888  888"  ?888X   8888"   .888B .  .888B .  "8888Y 8888"   .888B .  .888B .  ?888X   8888"  .888888P`      /\_/\  */
/* ( o.o )    `%888*%"     "88X   88*`    ^*888%   ^*888%    `Y"   'YP     ^*888%   ^*888%    "88X   88*`   `   ^"F       ( o.o ) */
/*  > ^ <        "`          ^"==="`        "%       "%                      "%       "%        ^"==="`                    > ^ <  */
/*  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  /\_/\  */
/* ( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o )( o.o ) */
/*  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  > ^ <  */
/* Color Source */
@import "../../.cache/wal/colors-waybar.css";
/* Basic */
*{
    margin-top: 1px;
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}
/* Bar */
window#waybar {
    background: rgba(21, 18, 27, 0);
}
/* Workspaces */
#workspaces button {
    /*padding: 5px;*/
    color: @color2;
    /*margin-right: 5px;*/
}

#workspaces button.active {
    color: @color1;
}

#workspaces button:hover {
    background: rgba(21, 18, 27, 0);
    color: @color11;
    /*border-radius: 10px;*/
}
/* Backgrounded Modules */
#cpu,
#memory,
#disk,
#custom-updates,
#custom-vpn,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
/* Background */
#workspaces {
    background: @color0;
    border-radius: 10px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
}
/* Modules */
#custom-vpn {
    color: @color13;
    border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#custom-updates {
    color: @color3;
    border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 5px;
}

#clock {
    color: @color6;
    border-radius: 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    border-radius: 10px;
    color: @color10;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#pulseaudio {
    color: @color8;
    border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 5px;
}

#battery {
    color: @color12;
    border-radius: 10px;
    margin-right: 10px;
    border-left: 0px;
}
#cpu {
    color: @color7;
    border-radius: 10px;
    margin-right: 5px;
    border-left: 0px;
}
#memory {
    color: @color9;
    border-radius: 10px;
    margin-right: 5px;
    border-left: 0px;
}
#disk {
    color: @color4;
    border-radius: 10px;
    margin-right: 5px;
    border-left: 0px;
}
